body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.instalacao-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instalacao-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}